USE [master] 
GO
/****** Object:  Database [Videoportal1]    Script Date: 15.06.2017 16:43:51 ******/
CREATE DATABASE [Videoportal1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Videoportal1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Videoportal1.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Videoportal1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Videoportal1_log.ldf' , SIZE = 84416KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Videoportal1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Videoportal1]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Category_ID] [tinyint] NOT NULL,
	[Category_title] [nchar](25) NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Comment_ID] [tinyint] NOT NULL,
	[Comment_text] [nchar](255) NULL,
	[Comment_date] [datetime] NOT NULL,
	[User_ID] [tinyint] NOT NULL,
	[Video_ID] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Comment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Dislike]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dislike](
	[Dislike_date] [datetime] NOT NULL,
	[Disike_ID] [tinyint] NOT NULL,
	[Video_ID] [tinyint] NOT NULL,
	[User_ID] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Disike_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Like]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Like](
	[Like_date] [datetime] NOT NULL,
	[Like_ID] [tinyint] NOT NULL,
	[User_ID] [tinyint] NOT NULL,
	[Video_ID] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Like_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Playlist]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlist](
	[Playlist_ID] [tinyint] NOT NULL,
	[Playlist_title] [nchar](100) NOT NULL,
	[Privacy_ID] [tinyint] NOT NULL DEFAULT ((0)),
	[Number_of_videos] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Playlist_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Privacy]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Privacy](
	[Privacy_ID] [tinyint] NOT NULL,
	[Privacy_title] [nchar](25) NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[Privacy_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stata]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stata](
	[Video_ID] [tinyint] NOT NULL,
	[Stata_likes] [tinyint] NULL,
	[Stata_dislikes] [tinyint] NULL,
	[Stata_views] [tinyint] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subscribe]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscribe](
	[Subscribe_date] [datetime] NOT NULL,
	[Subscriber_ID] [tinyint] NOT NULL,
	[User_ID_subscriber] [tinyint] NOT NULL,
	[User_ID_channel] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Subscriber_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[User_nickname] [nchar](45) NOT NULL,
	[User_email] [nchar](45) NOT NULL,
	[User_password] [nchar](45) NOT NULL,
	[User_surname] [nchar](45) NOT NULL,
	[User_name] [nchar](45) NOT NULL,
	[User_country] [nchar](45) NOT NULL,
	[User_phone] [nchar](45) NULL,
	[User_picture] [nchar](255) NULL,
	[User_ID] [tinyint] NOT NULL,
	[User_status] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User_Playlist]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Playlist](
	[User_ID] [tinyint] NOT NULL,
	[Playlist_ID] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC,
	[Playlist_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Video]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[Video_name] [nchar](100) NOT NULL,
	[Video_description] [nchar](255) NULL,
	[Video_timestamp] [datetime] NOT NULL,
	[Video_cover] [nchar](255) NULL,
	[Video_ID] [tinyint] NOT NULL,
	[User_ID] [tinyint] NOT NULL,
	[Category_ID] [tinyint] NOT NULL DEFAULT ((0)),
	[Privacy_ID] [tinyint] NOT NULL DEFAULT ((0)),
	[Video_link] [nchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Video_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Video_Playlist]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video_Playlist](
	[Video_ID] [tinyint] NOT NULL,
	[Playlist_ID] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Video_ID] ASC,
	[Playlist_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Videofile]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videofile](
	[Videofile_length] [time](7) NULL,
	[Videofile_size] [int] NOT NULL,
	[Videofile_resolution] [nchar](10) NOT NULL,
	[Videofile_codec] [nchar](10) NOT NULL,
	[Videofile_aspectratio] [nchar](5) NOT NULL,
	[Videofile_features] [nchar](10) NULL,
	[Videofile_format] [nchar](10) NOT NULL,
	[Video_ID] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Video_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[View]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[View](
	[View_ID] [tinyint] NOT NULL,
	[View_date] [datetime] NOT NULL,
	[Video_ID] [tinyint] NOT NULL,
	[User_ID] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[View_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Category] ([Category_ID], [Category_title]) VALUES (1, N'Животные                 ')
INSERT [dbo].[Category] ([Category_ID], [Category_title]) VALUES (2, N'Развлечения              ')
INSERT [dbo].[Category] ([Category_ID], [Category_title]) VALUES (3, N'Транспорт                ')
INSERT [dbo].[Comment] ([Comment_ID], [Comment_text], [Comment_date], [User_ID], [Video_ID]) VALUES (1, N'Dolorem velit voluptatibus. Est!
                                                                                                                                                                                                                             ', CAST(N'2013-11-25 04:13:37.000' AS DateTime), 31, 5)
INSERT [dbo].[Comment] ([Comment_ID], [Comment_text], [Comment_date], [User_ID], [Video_ID]) VALUES (2, N'Consequatur eveniet omnis. Illum est!                                                                                                                                                                                                                          ', CAST(N'2010-07-27 04:34:35.000' AS DateTime), 200, 104)
INSERT [dbo].[Comment] ([Comment_ID], [Comment_text], [Comment_date], [User_ID], [Video_ID]) VALUES (3, N'Reprehenderit vitae deserunt; fugiat.
                                                                                                                                                                                                                        ', CAST(N'2009-01-01 13:37:29.000' AS DateTime), 118, 75)
GO
INSERT [dbo].[Dislike] ([Dislike_date], [Disike_ID], [Video_ID], [User_ID]) VALUES (CAST(N'2010-01-12 18:07:40.000' AS DateTime), 1, 109, 144)
INSERT [dbo].[Dislike] ([Dislike_date], [Disike_ID], [Video_ID], [User_ID]) VALUES (CAST(N'2012-03-19 09:12:33.000' AS DateTime), 2, 10, 84)
INSERT [dbo].[Dislike] ([Dislike_date], [Disike_ID], [Video_ID], [User_ID]) VALUES (CAST(N'2009-01-01 00:00:46.000' AS DateTime), 3, 89, 46)
GO
INSERT [dbo].[Like] ([Like_date], [Like_ID], [User_ID], [Video_ID]) VALUES (CAST(N'2011-02-14 19:20:35.000' AS DateTime), 1, 5, 120)
INSERT [dbo].[Like] ([Like_date], [Like_ID], [User_ID], [Video_ID]) VALUES (CAST(N'2009-01-01 02:08:37.000' AS DateTime), 2, 150, 90)
INSERT [dbo].[Like] ([Like_date], [Like_ID], [User_ID], [Video_ID]) VALUES (CAST(N'2010-05-16 21:44:21.000' AS DateTime), 3, 5, 34)
GO
INSERT [dbo].[Playlist] ([Playlist_ID], [Playlist_title], [Privacy_ID], [Number_of_videos]) VALUES (1, N'Football                                                                                            ', 1, 17)
INSERT [dbo].[Playlist] ([Playlist_ID], [Playlist_title], [Privacy_ID], [Number_of_videos]) VALUES (2, N'Beyonce                                                                                             ', 1, 18)
INSERT [dbo].[Playlist] ([Playlist_ID], [Playlist_title], [Privacy_ID], [Number_of_videos]) VALUES (3, N'Bunch of movies                                                                                     ', 1, 17)
INSERT [dbo].[Privacy] ([Privacy_ID], [Privacy_title]) VALUES (1, N'Открытый доступ          ')
INSERT [dbo].[Privacy] ([Privacy_ID], [Privacy_title]) VALUES (2, N'Ограниченный доступ      ')
INSERT [dbo].[Privacy] ([Privacy_ID], [Privacy_title]) VALUES (3, N'Доступ по ссылке         ')
INSERT [dbo].[Stata] ([Video_ID], [Stata_likes], [Stata_dislikes], [Stata_views]) VALUES (120, 13, 7, 4)
INSERT [dbo].[Stata] ([Video_ID], [Stata_likes], [Stata_dislikes], [Stata_views]) VALUES (119, 2, 2, 0)
INSERT [dbo].[Stata] ([Video_ID], [Stata_likes], [Stata_dislikes], [Stata_views]) VALUES (118, 2, 0, 1)
GO
INSERT [dbo].[Subscribe] ([Subscribe_date], [Subscriber_ID], [User_ID_subscriber], [User_ID_channel]) VALUES (CAST(N'2009-01-01 00:00:22.250' AS DateTime), 1, 94, 104)
INSERT [dbo].[Subscribe] ([Subscribe_date], [Subscriber_ID], [User_ID_subscriber], [User_ID_channel]) VALUES (CAST(N'2009-11-27 12:27:57.620' AS DateTime), 2, 144, 84)
INSERT [dbo].[Subscribe] ([Subscribe_date], [Subscriber_ID], [User_ID_subscriber], [User_ID_channel]) VALUES (CAST(N'2010-02-05 03:40:17.340' AS DateTime), 3, 33, 185)
GO
INSERT [dbo].[User_Playlist] ([User_ID], [Playlist_ID]) VALUES (1, 1)
INSERT [dbo].[User_Playlist] ([User_ID], [Playlist_ID]) VALUES (2, 1)
INSERT [dbo].[User_Playlist] ([User_ID], [Playlist_ID]) VALUES (2, 2)
GO
INSERT [dbo].[Video_Playlist] ([Video_ID], [Playlist_ID]) VALUES (1, 1)
INSERT [dbo].[Video_Playlist] ([Video_ID], [Playlist_ID]) VALUES (2, 1)
INSERT [dbo].[Video_Playlist] ([Video_ID], [Playlist_ID]) VALUES (2, 2)
GO
INSERT [dbo].[Videofile] ([Videofile_length], [Videofile_size], [Videofile_resolution], [Videofile_codec], [Videofile_aspectratio], [Videofile_features], [Videofile_format], [Video_ID]) VALUES (CAST(N'11:28:27' AS Time), 414, N'3840x2160 ', N'MPEG-3    ', N'16:9 ', N'720p      ', N'78419     ', 2)
INSERT [dbo].[Videofile] ([Videofile_length], [Videofile_size], [Videofile_resolution], [Videofile_codec], [Videofile_aspectratio], [Videofile_features], [Videofile_format], [Video_ID]) VALUES (CAST(N'03:26:31' AS Time), 1240, N'720x456   ', N'WMV       ', N'4:3  ', N'720p      ', N'65466     ', 3)
INSERT [dbo].[Videofile] ([Videofile_length], [Videofile_size], [Videofile_resolution], [Videofile_codec], [Videofile_aspectratio], [Videofile_features], [Videofile_format], [Video_ID]) VALUES (CAST(N'02:26:42' AS Time), 881, N'640x480   ', N'Xvid      ', N'4:3  ', N'720p      ', N'44077     ', 4)
GO
INSERT [dbo].[View] ([View_ID], [View_date], [Video_ID], [User_ID]) VALUES (1, CAST(N'2009-01-01 00:00:29.000' AS DateTime), 7, 196)
INSERT [dbo].[View] ([View_ID], [View_date], [Video_ID], [User_ID]) VALUES (2, CAST(N'2010-03-14 12:17:48.000' AS DateTime), 88, 17)
INSERT [dbo].[View] ([View_ID], [View_date], [Video_ID], [User_ID]) VALUES (3, CAST(N'2009-01-01 02:34:44.000' AS DateTime), 120, 127)
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([Video_ID])
REFERENCES [dbo].[Video] ([Video_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dislike]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Dislike]  WITH CHECK ADD FOREIGN KEY([Video_ID])
REFERENCES [dbo].[Video] ([Video_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Like]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Like]  WITH CHECK ADD FOREIGN KEY([Video_ID])
REFERENCES [dbo].[Video] ([Video_ID])
GO
ALTER TABLE [dbo].[Playlist]  WITH CHECK ADD FOREIGN KEY([Privacy_ID])
REFERENCES [dbo].[Privacy] ([Privacy_ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[Stata]  WITH CHECK ADD FOREIGN KEY([Video_ID])
REFERENCES [dbo].[Video] ([Video_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subscribe]  WITH CHECK ADD FOREIGN KEY([User_ID_subscriber])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Subscribe]  WITH CHECK ADD FOREIGN KEY([User_ID_channel])
REFERENCES [dbo].[User] ([User_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Playlist]  WITH CHECK ADD FOREIGN KEY([Playlist_ID])
REFERENCES [dbo].[Playlist] ([Playlist_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Playlist]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Video]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Video_Playlist]  WITH CHECK ADD FOREIGN KEY([Playlist_ID])
REFERENCES [dbo].[Playlist] ([Playlist_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Video_Playlist]  WITH CHECK ADD FOREIGN KEY([Video_ID])
REFERENCES [dbo].[Video] ([Video_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Videofile]  WITH CHECK ADD FOREIGN KEY([Video_ID])
REFERENCES [dbo].[Video] ([Video_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[View]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[View]  WITH CHECK ADD FOREIGN KEY([Video_ID])
REFERENCES [dbo].[Video] ([Video_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([User_status]=N'User' OR [User_status]=N'Admin'))
GO
/****** Object:  StoredProcedure [dbo].[Category_deleted]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Category_deleted] (@category_name nchar(20))
AS
DELETE FROM Category WHERE Category_title=@category_name;
GO
/****** Object:  StoredProcedure [dbo].[Comment_deleted]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Comment_deleted] (@comment_text nchar(20))
AS
DELETE FROM Comment WHERE Comment_text LIKE '%'+@comment_text+'%';
GO
/****** Object:  StoredProcedure [dbo].[Insert_into_stata]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_into_stata]
AS DECLARE @a INT --счётчик
SET @a = (SELECT COUNT(*) FROM Video)
WHILE (@a > 0) BEGIN INSERT INTO Stata VALUES (
(SELECT Video_ID FROM Video WHERE Video_ID=@a),
(SELECT COUNT([Like].Like_ID)
FROM Video INNER JOIN [Like] ON Video.Video_ID=[Like].Video_ID WHERE Video.Video_ID=@a),
(SELECT COUNT([Dislike].Disike_ID)
FROM Video INNER JOIN [Dislike] ON Video.Video_ID=[Dislike].Video_ID WHERE Video.Video_ID=@a),
(SELECT COUNT([View].View_ID)
FROM Video INNER JOIN [View] ON Video.Video_ID=[View].Video_ID WHERE Video.Video_ID=@a))
SET @a=@a-1
  IF @a < 0
      BREAK
   ELSE
      CONTINUE
END
PRINT 'Цикл закончил работу-теперь в таблице Stata содержится совокупная информация по всем видео'
GO
/****** Object:  StoredProcedure [dbo].[New_category]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[New_category] (@category_name NCHAR(25))
AS
INSERT INTO Category VALUES((SELECT ISNULL (MAX(Category_ID)+1,1) FROM Category), @category_name);

GO
/****** Object:  StoredProcedure [dbo].[New_Comment]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[New_Comment] (@comment_text NCHAR(100), @user_id tinyint, @video_id tinyint)
AS
IF Exists(SELECT * FROM [User] 
WHERE [User].[User_ID] = @user_id) AND
Exists(SELECT * FROM [Video]
WHERE [Video].Video_ID = @video_id)
INSERT INTO [Comment] VALUES((SELECT ISNULL (MAX([Comment].Comment_ID)+1,1) FROM [Comment]),
@comment_text, GETDATE(), @user_id, @video_id);
ELSE
PRINT ('Неверный ввод данных');
GO
/****** Object:  StoredProcedure [dbo].[New_Subscribe]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[New_Subscribe] (@user_id_subscriber tinyint, @user_id_channel tinyint)
AS
IF Exists(SELECT * FROM [User] 
WHERE [User].[User_ID] = @user_id_subscriber) AND
Exists(SELECT * FROM [User]
WHERE [User].[User_ID] = @user_id_channel) AND 
NOT Exists(SELECT * FROM Subscribe WHERE User_ID_subscriber=@user_id_subscriber AND 
User_ID_channel=@user_id_channel)
INSERT INTO [Subscribe] VALUES(GETDATE(),
(SELECT ISNULL (MAX([Subscribe].Subscriber_ID)+1,1) FROM [Subscribe]),
@user_id_subscriber, @user_id_channel);
ELSE
PRINT ('Ошибка!Подписка невозможна!');
GO
/****** Object:  StoredProcedure [dbo].[New_User]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[New_User] (@user_nickname NCHAR(25), @user_email NCHAR(25), @user_password NCHAR(25),
@user_surname NCHAR(25), @user_name NCHAR(25), @user_country NCHAR(25), @user_phone NCHAR(25), 
@user_picture NCHAR(255), @user_status nchar(10))
AS
IF Exists(SELECT * FROM [User] WHERE [User].User_nickname = @user_nickname)
PRINT ('Такой никнейм уже существует')
ELSE
IF Exists(SELECT * FROM [User] WHERE [User].User_email = @user_email)
PRINT ('Такая почта уже зарегистрирована')
ELSE
INSERT INTO [User] VALUES(@user_nickname, @user_email, @user_password,
@user_surname, @user_name, @user_country, @user_phone, @user_picture, 
(SELECT ISNULL (MAX([User].[User_ID])+1,1) FROM [User]), @user_status);
GO
/****** Object:  StoredProcedure [dbo].[New_Video]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[New_Video] (@video_name NCHAR(100), @video_description NCHAR(255), @video_cover NCHAR(255), @user_id tinyint, @category_id tinyint, @privacy_id tinyint, @video_link NCHAR(255)) 
AS
IF Exists(SELECT * FROM [Category] 
WHERE [Category].Category_ID = @category_id) 
AND 
   Exists(SELECT * FROM [Privacy] WHERE [Privacy].Privacy_ID = @privacy_id) 
AND
   Exists(SELECT * FROM [User] WHERE [User].[User_ID] = @user_id)
INSERT INTO [Video] VALUES (
@video_name, @video_description, GETDATE(), @video_cover,
(SELECT ISNULL (MAX([Video].[Video_ID])+1,1) FROM [Video]), 
@user_id, @category_id, @privacy_id, @video_link 
)
ELSE 
PRINT ('Неверный ввод данных');

GO
/****** Object:  StoredProcedure [dbo].[Number_of_videos_in_playlists]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Number_of_videos_in_playlists]
AS DECLARE @a INT --счётчик
SET @a = (SELECT COUNT(*) FROM Playlist)
WHILE (@a > 0) BEGIN EXECUTE Number_of_videos_realvalue @a
SET @a=@a-1
  IF @a < 0
      BREAK
   ELSE
      CONTINUE
END
PRINT 'Цикл закончил работу-теперь в столбце таблицы Playlist содержится реальные количества видеозаписей!'

GO
/****** Object:  StoredProcedure [dbo].[Number_of_videos_realvalue]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Number_of_videos_realvalue] @playlist_id INT
AS DECLARE @number INT, @title NCHAR 
SET @title=(SELECT Playlist.Playlist_title FROM Playlist WHERE Playlist_ID=@playlist_id)
SET @number=(SELECT COUNT(Video_Playlist.Video_ID) FROM Video_Playlist
WHERE Video_Playlist.Playlist_ID=@playlist_id)
UPDATE Playlist 
SET Number_of_videos=@number WHERE Playlist_ID=@playlist_id;

GO
/****** Object:  StoredProcedure [dbo].[Video_deleted]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Video_deleted] (@video_id tinyint)
AS
DELETE FROM Video WHERE Video_ID=@video_id;
GO
/****** Object:  Trigger [dbo].[Number_of_videos_updated]    Script Date: 15.06.2017 16:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Number_of_videos_updated] ON [dbo].[Video_Playlist] AFTER INSERT
AS
DECLARE @a INT SET @a =  (SELECT Playlist_ID FROM inserted);
UPDATE Playlist SET  Number_of_videos = Number_of_videos + 1 WHERE Playlist.Playlist_ID = @a

GO
USE [master]
GO
